.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-wrap {
  margin-top: 5px;
}

#col1 {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  left: 0;
  right: 60%;
  padding: 8px;
}

#col2 {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  left: 40%;
  right: 0;
  padding: 8px;
}

#search {
  width: 95%;
  margin: 10px;
}

.capturegroup {
  color: red;
}
